@model MonitoringSystem.Models.CourseProjectLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseProjectLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.GroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.GroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectCP.SubjectCPName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectCP.SubjectCPName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseProjectLineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
