@using MonitoringSystem.Models
@model IEnumerable<MonitoringSystem.Models.Subject>
@{
    ViewBag.Title = "Список предметов";
}

<h2>Список предметов</h2>
@{
    IEnumerable<Subject> name = Model.Select(s =>
        new Subject
        {
            SubjectID = s.SubjectID,
            SubjectName = s.SubjectName,
            Term = s.Term,
            SubjectType = s.SubjectType
        });
    List<Subject> names = name.ToList();
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectType)
        </th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td>
                @Html.RouteLink(names[i].SubjectName, "toMarks",
                                 new
                                 {
                                     controller = "Subjects",
                                     action = "ShowMarks",
                                     groupId = ViewBag.GroupNumber as string,
                                     subjectId = names[i].SubjectID.ToString()
                                 })
            </td>
            <td>
                <p>@names[i].Term</p>
            </td>
            <td>
                <p>@names[i].SubjectType</p>
            </td>
        </tr>
    }
</table>
