@model MonitoringSystem.Models.Student

@{
    ViewBag.Title = "Результаты поиска";
}

<h2>Поиск студента</h2>

@{ 
    foreach (var subject in Model.Subjects)
        {
           <table>
               <thead>
                   <th>1</th>1<th></th>1<th>1</th>
               </thead>
               <tbody>
                   <tr>2</tr>2<tr>2</tr>2<tr>2</tr>
               </tbody>
           </table> 
        }
    

   
        foreach (var subjectCPs in Model.SubjectCPs)
        {

        }
    
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group.GroupID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        </tr>
    }

</table>*@