@model MonitoringSystem.Models.Mark

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.GroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.GroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfProgram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfProgram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalPoints)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
